h1 { 
    color: red;
}
p {
    color: green;
}
i {
    background-color: yellow;
}
div {
    display: flex;
}
.test {
    display: grid;
}
.sdfgs {
    display: flex;
}
.safa {
    display: flex;
    transition: 2s;
    transform: rotate(60deg);
}
.haha {
    color: red;
}