doctype html
html
    head
        title Hello World
        link(rel='stylesheet', href='css/style.css')
    body
        h1 ВСЕМ ВСЕМ ПРИВЕТ
        p Всем привет
        i привет
        div hello
        span test
        span test2
