doctype html
html
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel='stylesheet', href='css/style.css')
        title LeRestaurant

    body
        header(id='typeoffood')
            div(class='typefood')
                section
                    section(class='food-meat')
                    section(class='food-secrets')
                section(class='food-vegeterian')
            div(class='typefood-nameplate')
                section(class='nameplate')
                    h2 
                        | for meat
                        br
                        | lovers
                    a(class='fullmenu' href='#') full menu
                section(class='nameplate')
                    h2 
                        | vegeterian
                        br
                        | &amp; vegan
                    a(class='fullmenu' href='#') full menu
                section(class='nameplate')
                    h2 
                        | see our
                        br
                        | secrets
                    a(class='fullmenu' href='#') full menu
        nav(id="navigation")
            h1(class="logo") LeRestaurante
            ul(class="nav")
                li
                    a(href="#") Price list
                li
                    a(href="#") Opening hours
                li
                    a(href="#") About
                li
                    a(href="#") Contacts

        main
            div(id="dailymenu")
                h3 Daily menu
                div(class="menu")
                    section(class="daily-menu")
                        section(class="menu-item item1")
                            img(src="img/meat.png" alt="meat")
                            section(class="title-price")
                                h4(class="name-dish item-left") Raw meat with bbq
                                p(class="price item-right") 10$
                            section(class="allergens")
                                p(class="allerg item-left") Allergens
                                p(class="allerg-amount item-right") 4,8,12
                        section(class="menu-item item2")
                            img(src="img/trout.png" alt="trout")
                            section(class="title-price")
                                h4(class="name-dish item-left") Fresh trout
                                p(class="price item-right") 13$
                            section(class="allergens")
                                p(class="allerg item-left") Allergens
                                p(class="allerg-amount item-right") 4,9
                        section(class="menu-item")
                            img(src="img/soup.png" alt="soup")
                            section(class="title-price")
                                h4(class="name-dish item-left") Mushroom soup
                                p(class="price item-right") 9$
                            section(class="allergens")
                                p(class="allerg item-left") Allergens
                                p(class="allerg-amount item-right") 1,3,11
                        section(class="menu-item")
                            img(src="img/chicken.png" alt="chicken")
                            section(class="title-price")
                                h4(class="name-dish item-left") Chiken with potatoes
                                p(class="price item-right") 18$
                            section(class="allergens")
                                p(class="allerg item-left") Allergens
                                p(class="allerg-amount item-right") 4,8,17
                        section(class="menu-item")
                            img(src="img/pasta.png" alt="pasta")
                            section(class="title-price")
                                h4(class="name-dish item-left") Pasta with tomato puree
                                p(class="price item-right") 12$
                            section(class="allergens")
                                p(class="allerg item-left") Allergens
                                p(class="allerg-amount item-right") 2,6
                        section(class="menu-item")
                            img(src="img/salad.png" alt="salad")
                            section(class="title-price")
                                h4(class="name-dish item-left") Salad with beetroot
                                p(class="price item-right") 10$
                            section(class="allergens")
                                p(class="allerg item-left") Allergens
                                p(class="allerg-amount item-right") NONE
                    section(class="detailed-menu")
                        section(class="dish-image")
                        section(class="dish-description")
                            h5(class="description-head") Raw meat with BBQ
                            p(class="description-content") Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores sint consequuntur maxime ut numquam possimus esse exercitationem, nihil aliquam, at iste pariatur nam est eius, quam animi magni? Quisquam, facere!
                            span(class="dish-price") 13$ - ORDER
                        span(class="dish-border")
                        span(class="dish-angle angle1")
                        span(class="dish-angle angle2")
                        span(class="dish-angle angle3")
                        span(class="dish-angle angle4")
        
        script(src='js/script.js')